<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank for Click Me...!!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/myfile.css'%}" rel="stylesheet">
</head>
<body>
<h1>Hello Thanks for Validations...!</h1>
<h1>Good Bye....!!</h1>
For homepage : <a href=http://127.0.0.1:8000/validate/>Click here</a>
</body>
</html>